/build/
/out/
/.vs/
/compile_commands.json
/CMakeSettings.json
*.user
*.suo
*.sdf
*.opensdf
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
*.dir/
*.vcxproj
*.vcxproj.filters
*.sln
!CMakeLists.txt
